<nav class="navbar navbar-expand-lg bg-success mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#">Service App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Custom 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cust2">Custom 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="apipe">Async Pipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="srv">Service Example</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="exc">Exercise</a>
        </li>
        <!--<li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Coming Soon!</a>
  </li>-->
      </ul>
    </div>
  </div>
</nav>
