<h3 class="text-center text-dark bg-primary-subtle mb-5">Product List</h3>

<table class="table table-hover table-primary table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Mfg Date</th>
      <th>Exp Date</th>
    </tr>
  </thead>

  <tbody>
    @for (p of srv.displayProducts(); track p.id) {
    <tr>
      <td>{{ p.id }}</td>
      <td>{{ p.name|titlecase }}</td>
      <td>{{ p.price|currency:"INR" }}</td>
      <td>{{ p.mfgDate }}</td>
      <td>{{ p.expDate }}</td>
    </tr>
    }
  </tbody>
</table>
