
<h2 class="text-center text-danger mb-5">Custom Pipe 1</h2>


<div class="container">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <td class="text-center">Value</td>
        <td class="text-center bg-primary">Cube</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">{{side1}}</td>
        <td class="text-center">{{side1|cube}}</td>
      </tr>
      <tr>
        <td class="text-center">{{num2}}</td>
        <td class="text-center">{{num2|cube}}</td>
      </tr>
      <tr>
        <td class="text-center">{{num3}}</td>
        <td class="text-center">{{num3|cube}}</td>
      </tr>
    </tbody>
  </table>
</div>
