<h2>Employees</h2>
<div class="container">
  <div *ngIf="employees.length === 0">
    No data found
  </div>

  <table class="table table-dark table-hover table-striped" *ngIf="employees.length > 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.phoneNo }}</td>
        <td>{{ emp.role }}</td>
        <td><i class="bi bi-pen-fill" (click)="editClicked(emp.id)"></i></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <button class="btn btn-outline-success" (click)="createEmployeeClicked()">Create new Employee</button>
</div>
