<!--<h1 class="text-center fw-bold text-decoration-underline text-white">Directive in Angular</h1>
<div class="container">
  <ol class="list-group list-group-numbered">
    <li class="list-group-item active">Structural</li>
    <li class="list-group-item">Attribute</li>
    <li class="list-group-item">Component</li>
  </ol>
</div>

<div class="container m-2 mx-auto">
  <h2 class="bg-success text-white text-center my-5">ngIf Stuctural Directive</h2>
  <app-ifexample></app-ifexample>-->  <!--Component inside another component-->
  <!--<app-switchexample></app-switchexample>-->  <!--Component inside another component-->
  <!--<app-exercise></app-exercise>-->  <!--Component inside another component-->
<!--</div>-->

<!--<div class="container">
  <h1 class="text-center text-primary text-decoration-underline">TemplateUrl vs Template</h1>
  <app-second></app-second>
</div>-->

<div class="container">
  <h1 class="text-white text-center text-decoration-underline mb-3">Few Built in pipes in Angular</h1>
  <app-pipe-example></app-pipe-example>
</div>
